/*
 * HFLive-BMT 报幕条
 * 作者：HFLive13.0 xiaoxuan010
 * 开源地址：https://github.com/xiaoxuan010/HFLive-BMT
 * 开源许可：GPL
 * 使用的开源代码：MDUI(https://github.com/zdhxiong/mdui)基于MIT协议
 */

.bmt-status-0 {
    width: 0%;
}

.bmt-status-100 {
    width: 100%;
}

.lyrics-list .mdui-list-item{
    min-height: 25px;
}

.lyrics-list .mdui-list-item::after{
    height: 25px;
}

.lyrics-list{
    overflow-y: auto;
    height: calc(343.179px - 48px - 4px * 2);
}